
#preview{
    height: 100vh;
}
  
  button{
      cursor: pointer;
      outline: none;
      border: none;
  }
    
    .button {
    position: absolute;
    top: 50%;
    left: calc((100vw - 100vh)/2);
    transform: translate(-50%,-50%);
    display: flex;
    letter-spacing: 0.1em;
    margin: 0 auto;
    background: #000;
    color: #fff;
    padding:2em;
    border-radius: 10px;
    }

    .button:hover {
      opacity: 0.5;
    }
  

    .modal {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: calc(100vw - 100vh);
      height: 100vh;
      overflow: auto;
      background-color: rgba(0,0,0,0.8);
    }

    .isOpen{
      visibility: visible;
      animation: fadeInEffect forwards;
    }

    .isOpen > .modal-content {
        animation: fadeInUpEffect forwards;
    }

    .isClose{
        animation: fadeOutEffect forwards;
    }

    .isClose > .modal-content {
        animation: fadeOutEffect forwards;
    }

    

  
    .modal-content {
        position: absolute;
        top: 50%;
        left: calc((100vw - 100vh)/2);
        transform: translate(-50%,-50%);
      z-index: 2;
      width: 80%;
      margin: 0 auto;
      background-color: #FFFFFF;
      border-radius: 20px;
    }



    @keyframes fadeInEffect{
      from{
        opacity: 0;
      }
      to{
        opacity: 1;
      }
    }

    @keyframes fadeInUpEffect{
        from{
          transform: translate(-50%,-30%);
          opacity: 0;
        }
        to{
          transform: translate(-50%,-50%);
          opacity: 1;
        }
      }

    @keyframes fadeOutEffect{
      from{
        opacity: 1;
      }
      to{
        visibility: hidden;
        opacity: 0;
      }
    }

    .modal-body {
      padding: 10rem;
      color: black;
    }
  
    .modal-body p{
      text-align: center;
      font-size: 16px;
      letter-spacing: 0.1em;
      color: black;
    }
  
  .modalClose {
      margin: 0;
      padding: 0;
      border: 0;
      background: none;
      position: fixed;
      width: 100px;
      height: 100px;
    }
    .modalClose:before, .modalClose:after {
      content: "";
      position: absolute;
      top: 50px;
      left: 0;
      right: 0;
      height: 4px;
      background: #FFFFFF;
      border-radius: 4px;
    }
    .modalClose:before {
      transform: rotate(45deg);
    }
    .modalClose:after {
      transform: rotate(-45deg);
    }
