.itemList{
    margin-bottom: 200px;
}
.itemList .item {
    margin: 0 auto;
    width: 50%;
    will-change: opacity transform;
    opacity: 0;
}

.itemList .item img {
    margin-top: 150px;
    width: 100%;
}   
.itemList .item p {
    padding-top: 0.2em;
    font-size: 2vw;
    letter-spacing: 0.05em;
    color: #999;
}   
.itemList .item.effect {
    animation: fadeIn 1s linear forwards;
}

@keyframes fadeIn{
    from{
        opacity: 0;
        transform: translateY(80px) scale(1.5);
    }
    to{
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}